# dependencies
node_modules/
**/node_modules/

# next build output
.next/
**/.next/
out/
**/out/

# env
.env
.env.*
!.env.example

frontend.zip
*.zip


frontend.zip
*.zip

# archives
*.zip

# ignore zips
*.zip


# ignore zips
*.zip

